*.o
Makefile.in
Makefile
aclocal.m4
autom4te.cache
autoscan.log
config.h*
config.log
config.status
config.guess
config.sub
ltmain.sh
stamp-h1
.deps
configure
configure.scan
*~
*.swp
usb_os.c
util_os.c
.libs
*.a
*.la
*.lo
*.tar.gz
libtool
missing
install-sh
depcomp
